.analyticContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.countContainer{
    width: auto;
    height: 5vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.count{
    display: flex;
}
.orderStatusContainer{
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
.sellingContainer{
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.orderStatusHeading{
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
}
.categoryContainer{
    width: 30vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dateToDateRangeContainer{
    width: 90vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
.calenderIconForDateRange{
    align-self: flex-start;
    border-width: 0px;
}
.calenderIconForDateRange:hover{
    align-self: flex-start;
    border-width: 0px;
}
.monthBasedAnalytics{
    width: 50vw;
    height: 40vh;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


