.dashboardContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.sidebar{
    width: 25vw;
    height: 45vh;
    background-color: rgb(70, 65, 65);
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;                
    pointer-events: all; 
}
.sidebarClose{
    width: 4vw;
    height: 7vh;
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    position: absolute;
}
.logoContainer{
    width:9vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logoAndCancel{
    display: flex;
    justify-content: space-between;
    width:auto;
    color: rgb(12, 12, 12);
}
.headings{
    font-size: 22px;
    font-style:italic;
    font-weight: bolder;
    color: rgb(12, 12, 12);
    display: inline;
}
.iconButton{
    background-color: transparent;
    border-width: 0;
    margin-right: 25px;
    display: flex;
    justify-content: center;
}
.iconButton:hover{
    border-width: 0;
}
.displayContainer{
    color: #000;
    width: 75vw;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width:767px){
    .welcomeHeading{
       font-size: 20px;
    } 
    .sidebar{
        width: 65vw;
        height: 40vh;
        background-color: rgb(70, 65, 65);
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        box-sizing: border-box;
        position: absolute;
        overflow:hidden;
    }
}