.cartContainer {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.dark{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.light{
    background-color: white;
    color: #000;
    border: 1px solid black;

}
.lightborder{
    border: 1px solid rgb(10, 10, 10);
}
.darkborder{
    border: 1px solid rgb(250, 249, 249);
}

table {
  width: 70vw;
  margin-left: 15%;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.total{
  align-self: flex-end;
  width:25vw;
  margin-right: 15%;
  font-size: 18px;
}

@media screen and (max-width: 344px) {
  table {
    width:70%;
    margin-left: 10%;
  }

  td, th {
    padding: 5px;
    font-size: 12px;
  }

  .total{
  font-size: 14px;
}
}
