.headerContainer{
    height: 15vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color:black;
    color: white;
}
.mobileContainer{
    display: none;
}
.select{
    border-width: 0px;
    background-color: transparent;
    width: auto;
    text-align: center;
}
.headingslight{
    font-size: 22px;
    font-style:italic;
    font-weight: bolder;
    color: rgb(60, 60, 63);
    display: inline;
}
.headingsdark{
    font-size: 22px;
    font-style:italic;
    font-weight: bolder;
    color: rgb(218, 218, 221);
    display: inline;
}
.letter{
    color: rgb(10, 10, 10);
}
.logoContainer{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.optionContainer{
    display: none;
}
.optionsContainer{
    width: 60vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}
.button{
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
}
.userButton{
    border:0;
    background-color: transparent;
}
.userButton:hover{
    border:0;
    background-color: transparent;
}
.buttonUserOrder{
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}
.orderButton{
    padding:10px;
    border:0;
    background-color: transparent;
}


@media screen and (max-width:767px){
    .headerContainer{
        display: none;
    }
.mobileContainer{
    height: 10vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}
.userButton{
    padding: 4px; 
}
.userButton:hover{
    border:0;
    padding: 4px; 
}
.barAndProfileIcon{
    display: flex;
    width:20vw;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.optionContainer{
    z-index: 10;
    height: 40vh;
    width: 40vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    justify-self: flex-end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    font-size: 14px;
    margin-top: 10px;
}
.logoContainer{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.button{
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
}
    
}