.headerContainer{
    height: 15vh;
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.mobileContainer{
    display: none;
}
a{
    color: #000;
}
.logo{
    color: rgb(5, 5, 5);
}
.headings{
    font-size: 22px;
    font-style:italic;
    font-weight: bolder;
    color: rgb(60, 60, 63);
    display: inline;
}
.letter{
    color: rgb(10, 10, 10);
}
.logoContainer{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.optionsContainer{
    width: 40vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
}
.button{
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
}

@media screen and (max-width:767px){
    .headerContainer{
        display: none;
    }
.mobileContainer{
    height: 10vh;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.optionContainer{
    z-index: 10;
    height: 30vh;
    width: 40vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #000;
    justify-self: flex-end;
    background-color: rgb(206, 209, 212);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
}
.logoContainer{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    background-color: rgb(10, 10, 10);
    color: white;
    border-radius: 10px;
    margin: 6px;
    padding: 10px;
}
    
}