body{
    overflow-x:hidden;
}
.HomeContainer{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}
.light{
    background-color: black;
    color: white;
}
.dark{
    background-color: white;
    color: black;
}
.banner{
    background-image: url("https://res.cloudinary.com/dlfl0nfin/image/upload/v1756726913/Rectangle_2_d0yyup.png");
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-left:30px;
}
.bannerContent{
    width:50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.majorHeading{
    width: 577px;
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}
.bannerContents{
    display: flex;
    flex-direction: column;
    height: 663px;
    width: 627px;
    justify-content: space-around;
}
.cardparagraph{
    width: 545px;
    height: 33px;
    left: 92px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
}
.shopButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 54px;
    gap: 12px;
    width: 210px;
    height: 42px;
    left: 100px;
    background: #000000;
    border-radius: 62px;
    color:white;
    font-size: 14px;
}
.bannerpopularity{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 596px;
    height: 74px;
    left: 100px;
}
.bannerBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 141px;
    height: 74px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.values{
    width: 107px;
    height: 54px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: -2px 0px;
}
.valueDescription{
    width: 141px;
    height: 22px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.brands{
    width: 100vw;
    height: 122px;
    background: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.versace{
    font-family: 'Courier New', Courier, monospace;
}
.zara{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gucci{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.prada{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ck{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dressType{
    width: 100vw;
    height: 866px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.light{
    background-color: black;
    color: white;
}
.dark{
    background-color: white;
    color: #000;
}
.dressTypeBasedHeading{
    width: 100%;
    height: 58px;
    left: calc(50% - 687px/2);
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}
.casual{
    width: 30vw;
    height: 289px;
    left: 64px;
    background-image: url('https://res.cloudinary.com/dlfl0nfin/image/upload/v1756731714/image_11_ldhdsv.png');
    border-radius: 20px;
    display: inline;
    margin: 10px;
}
.dressTypeParagraph{
    width: 114px;
    height: 49px;
    left: 36px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #000000;
}
.formal{
    width: 584px;
    height: 289px;
    left: 491px;
    background: #FFFFFF;
    border-radius: 20px;
}
.party{
    width: 684px;
    height: 289px;
    left: 64px;
    background: #FFFFFF;
    border-radius: 20px;
}
.gym{
    width: 307px;
    height: 289px;
    left: 768px;
    background: #FFFFFF;
    border-radius: 20px;
}
.dressPictures{
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    width: 80vw;
    justify-content: space-around;
}
.bannerMobileImage{
    display: none;
}
.dressPicturesMobile{
    display: none;
}


@media screen and (max-width:767px){
    .HomeContainer{
        height: auto;
        width: 100%;
    }
    .banner{
        width: 100%;
        height: 753px;
        left: 0px;
        
    }
    .bannerContent{
        width:90%;
        height:50vh;
        margin-left: 2%;
        padding: 15px;
    }
    .majorHeading{
        width: 100%;
        height: 73px;
        left: 16px;
        font-family: 'Integral CF';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        display: flex;
        align-items: center;
    }
    .shopButton{
    width: 80%;
    height: 52px;
    left: 100px;
    background: #000000;
    border-radius: 62px;
    color:white;
   }
    .bannerContents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70vh;
        width: 100%;
        justify-content: space-around;
        padding: 10px;
       
    }
    .cardparagraph{
        width: 100%;
        height: 80px;
        left: 16px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .bannerMobileImage{
        display: block;
        position: relative;
        width: 100%;
        height: 448px;
        left: 0%; 
    }
    .bannerpopularity{
        width:100%;
        align-items: center;
        margin-top: 10px;
    }
    .bannerBox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 25px;
        height: auto;
        margin:10px;
    }
    .values{
        width: 57px;
        height: 14px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px;
    }
    .valueDescription{
        width: 141px;
        height: 22px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-left: 10px;
    }
    .brands{
        width: 100%;
        height: 146px;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .versace{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        margin:10px;
    }
    .zara{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        margin:10px;
    }
    .gucci{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        margin:10px;
    }
    .prada{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin:10px;
    }
    .ck{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin:10px;
    }
    .dressType{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }
    .dressTypeBasedHeading{
        width: 100%;
        height: 72px;
        left: calc(50% - 246px/2);
        font-family: 'Integral CF';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .dressPictures{
        display: none;
    }
    .dressPicturesMobile{
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        
    }
    .dressTypeImage{
        width: 90%;
        height: 190px;
        background: #FFFFFF;
        border-radius: 20px;
        margin: 10px;
    }
    
}

@media screen and (min-width:768px) and (max-width:1023px){
  .banner{
    background-color: #f3f0f0;
    background-image: none;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
 }
 .bannerContent{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 .bannerContents{
    display: flex;
    flex-direction: column;
    height: 1063px;
    width: 100%;
    justify-content: space-around;
}
.shopButton{
    font-size: 10px;
    width: 40vw;
}
 .majorHeading{
    width: 100%;
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    color: #000000;
}
 .bannerMobileImage{
       display: none;
    }
 .cardparagraph{
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
 }
 .bannerContent{
    height: 40vh;
 }
 .bannerpopularity{
    margin: 20px;
 }
 .brands{
        width: 100%;
        height: 96px;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
    }
    .versace{
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        margin:10px;
    }
    .zara{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        margin:10px;
    }
    .gucci{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        margin:10px;
    }
    .prada{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin:10px;
    }
    .ck{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin:10px;
    }
    .dressType{
        width: 100%;
        height: 1200px;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
    }
    .dressTypeBasedHeading{
        width: 546px;
        height: 72px;
        left: calc(50% - 246px/2);
        font-family: 'Integral CF';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
    }
    .dressPictures{
        display: none;
    }
    .dressPicturesMobile{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 70vh;
        width: 100%;
       
    }
    .dressTypeImage{
        width: 70%;
        height: 190px;
        background: #FFFFFF;
        border-radius: 20px;
        margin: 3%;
    }
}

@media screen and (min-width:1024px) and (max-width:1440px){
   .banner{
        width: 100%;
        height: 68vh;
        left: 0px;
        background-color: #d3cece;
    }
    .bannerContent{
    width:100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
   .majorHeading{
    width: 777px;
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
}
.cardparagraph{
    width: 777px;
}
.shopButton{
    width: 40vw;
}
    .bannerpopularity{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 596px;
    height: 74px;
    left: 100px;
    margin-top: 5%;
}
.dressType{
    width: 100vw;
    height: 866px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.casual{
    width: 25vw;
    height: 289px;
    left: 64px;
    background-image: url('https://res.cloudinary.com/dlfl0nfin/image/upload/v1756731714/image_11_ldhdsv.png');
    border-radius: 20px;
    display: inline;
    margin: 5px;
}
.formal{
    width: 40vw;
    height: 289px;
    left: 491px;
    background: #FFFFFF;
    border-radius: 20px;
}
.party{
    width: 40vw;
    height: 289px;
    left: 64px;
    background: #FFFFFF;
    border-radius: 20px;
}
.gym{
    width: 25vw;
    height: 289px;
    left: 768px;
    background: #FFFFFF;
    border-radius: 20px;
}
.userProfileFeatures{
    position: absolute;
    background-color: white;
    width: 40vw;
    height: 100vw;
    overflow-y: scroll;
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

   
}

@media screen and (min-width:1441px) and (max-width:2559px){
    .banner{
        width: 100%;
        height: 100vh;
        left: 0px;
        background-color: #d3cece;
        background-size: cover;
    }
    .bannerContent{
    width:80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
   .majorHeading{
    width: 577px;
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
    color: #000000;
}
    .bannerpopularity{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 596px;
    height: 74px;
    left: 100px;
    margin-top: 5%;
}
.dressType{
    width: 100vw;
    height: 866px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.casual{
    width: 25vw;
    height: 289px;
    left: 64px;
    background-image: url('https://res.cloudinary.com/dlfl0nfin/image/upload/v1756731714/image_11_ldhdsv.png');
    border-radius: 20px;
    display: inline;
    margin: 5px;
}
.formal{
    width: 50vw;
    height: 289px;
    left: 491px;
    background: #FFFFFF;
    border-radius: 20px;
}
.party{
    width: 50vw;
    height: 289px;
    left: 64px;
    background: #FFFFFF;
    border-radius: 20px;
}
.gym{
    width: 25vw;
    height: 289px;
    left: 768px;
    background: #FFFFFF;
    border-radius: 20px;
}
}

@media screen and (min-width:2560px){
    .banner{
        width: 100%;
        height: 60vh;
        left: 0px;
        background-color: #d3cece;
        background-size: cover;
    }
    .bannerContent{
    width:100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
   .majorHeading{
    width: 1277px;
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 74px;
    color: #000000;
    }
    .cardparagraph{
        width: 1145px;
        height: 33px;
        left: 92px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        color: rgba(0, 0, 0, 0.6);
    }
    .shopButton{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 54px;
        gap: 12px;
        width: 510px;
        height: 72px;
        left: 100px;
        background: #000000;
        border-radius: 62px;
        color:white;
        margin-top: 5%;
        font-size: 32px;
    }
    .bannerpopularity{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 32px;
        width: 1296px;
        height: 74px;
        left: 100px;
        margin-top: 2%;
    }
    .dressType{
        width: 100vw;
        height: 866px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .casual{
        width: 20vw;
        height: 289px;
        background-size: cover;
        left: 64px;
        background-image: url('https://res.cloudinary.com/dlfl0nfin/image/upload/v1756731714/image_11_ldhdsv.png');
        border-radius: 20px;
        display: inline;
        margin: 5px;
    }
    .formal{
        width:50vw;
        height: 289px;
        left: 491px;
        background: #FFFFFF;
        border-radius: 20px;
    }
    .party{
        width: 50vw;
        height: 289px;
        left: 64px;
        background: #FFFFFF;
        border-radius: 20px;
    }
    .gym{
        width: 20vw;
        height: 289px;
        left: 768px;
        background: #FFFFFF;
        border-radius: 20px;
    }
}





