.cancelIcon{
    width: 5vw;
    margin-left: 10%;
}
.orderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    width: 30vw;
    height:15vh;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    display: flex;
}
.elementContainer{
    margin-top: 0px;
}
.pending{
    background-color: rgb(247, 247, 152);
}
.shipped{
    background-color: rgb(152, 177, 247);
}
.success{
    background-color: rgb(152, 247, 168);
}
.element{
    margin-bottom: 0;
    font-size: 12px;
}
.image{
    width: 10vw;
    height: 15vh;
    margin-right: 10px;
}
@media screen and (max-width:767px){
   .cancelIcon{
    width: 5vw;
    align-self: flex-end;
    margin-left: 10%;
}
.box{
    width: 80vw;
    border: 1px solid black;
    margin: 10px;
}
.image{
    width: 25vw;
    height: 15vh;
    margin-right: 10px;
}
}
