.mainContainer{
    width: 100vw;
    height:100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.light{
    background-color: black;
    color: white;
}
.dark{
    background-color: white;
    color: #000;
}
.SingleProductDetail{
    width:80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.productSingleImage{
    width: 30vw;
    height: 60vh;
    background: #F0EEED;
    border-radius: 20px;
    margin: 30px;
}
.cartAndQuantity{
    display: flex;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 20vw;
    box-sizing: border-box;
    height: 8vh;
    margin-top: 7px;
}
.size{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:30vw;
}
.para{
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    color: #F0EEED;
}
.faButton{
    background-color: transparent;
    color: white;
}
.availbility{
    color: red;
}

@media screen and (max-width:767px){
    .mainContainer{
    width: 100%;
}
.SingleProductDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
}
.productSingleImage{
    width: 80%;
    height: 530px;
    left: 266px;
    background: #F0EEED;
    border-radius: 20px;
}
.quantity{
    display: flex;
    height: 5vh;
    width: 80vw;
}
.size{
    width:80vw;
}
.cartAndQuantity{
    display: flex;
    flex-direction: column;
}

}