.topContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.failureContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}
.light{
    background-color: black;
    color: white;
}
.dark{
    background-color: white;
    color: #000;
}
.newArrival{
    width: 493px;
    height: 58px;
    left: calc(50% - 403px/2 - 0.5px);
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin-left: 25px;
}
.viewButton{
    margin-bottom: 10px;
}

.newArivalOrSellingProducts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.productArrival{
    height: 50vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}
.star{
    background-color: rgb(255, 217, 0);
}
.rowSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.desktop{
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

}
.mobile{
    display: none;
}


@media screen and (max-width:767px) {
    .desktop{
    display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
        width: 100%;
    }
    .newArrival{
        width: 159px;
        height: 28px;
        left: 0;
        font-family: 'Integral CF';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-right: 10%;
    }
    .newArivalOrSellingProducts{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        width:100%;
        
    }
    .productArrival{
        height: 50vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        border-radius: 20px;
    }
    .star{
        background-color: rgb(255, 217, 0);
    }
    .rowSection{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .productImage{
        width:230px;
        height:20vh;
    }
}