.form{
    display: flex;
    flex-direction: column;
    align-items: center;     
}
.formdata{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height:10vh;   
}
.inputs{
    height: 5vh;
    border-radius: 10px;
    width: 20vw;
}
.cancelIcon{
    width: 5vw;
    align-self: flex-end;
    margin-right: 20%;
}

@media screen and (max-width:767px){
    .inputs{
    height: 5vh;
    border-radius: 10px;
    width: 50vw;
}
}
